div{
    width: 200px;
    height: 80px;
    border-radius: 4px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 80px;
    border: 1px solid blue;
    cursor: pointer;
    margin: 0 auto;

}
div:hover{
    background-color: none;
    border: 1px solid black;
    background-color: yellow;
}
.fund{
    margin-top: 20px;
}