body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div{
    width: 200px;
    height: 80px;
    border-radius: 4px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 80px;
    border: 1px solid blue;
    cursor: pointer;
    margin: 0 50px;

}
div:hover{
    background-color: none;
    border: 1px solid black;
    background-color: yellow;
}
